{% extends 'layout.html' %}

{% block content %}

<style>
  .panelcontainer {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
</style>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/__BACKOFFICE__/">Persons</a></li>
  <li role="presentation" class="active"><a href="/__BACKOFFICE__/businesses">Businesses</a></li>
</ul>

<div class="panelcontainer row">

  {% for business in businesses %}
  <div class="col-xs-12 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ business.name }}</h3>
      </div>



      <table class="table">
        <thead>
          <tr>
            <th>About</th>
          </tr>
        </thead>
        {% if business.createdAt %}
        <tr>
          <td>Created</td>
          <td class="displayMoment">
            {{ business.createdAt }}
          </td>
        </tr>
        {% endif %}
      </table>

      <div class="panel-body">
        <a class="btn btn-primary" href="/__BACKOFFICE__/business/{{ business.id }}">View details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  var eDisplayMoment = document.getElementsByClassName('displayMoment');
  for (i = 0; i <= eDisplayMoment.length; i++) {
    eDisplayMoment[i].innerHTML = moment(eDisplayMoment[i].innerHTML, "YYYY-MM-DD[T]hh:mm:ssZ").fromNow();
  }
</script>
{% endblock %}